<h1>Top#index</h1>
メインページ

<h2>ログインしてください</h2>
<%= form_tag '/top/login', method: :post do %>
    <%= label_tag :uid, 'ユーザーID' %>
    <%= text_field_tag :uid %>
    <%= label_tag :pass, 'パスワード' %>
    <%= password_field_tag :pass %>
    <%= submit_tag 'ログイン' %>
<% end %>
<p><%= link_to "ユーザー一覧","/top/index" %></p>
<p><%= link_to 'アカウント作成', "/users/new" %></p>








<head>
  <meta charset="UTF-8">
  <title>Header Sample</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1 class="title">カジノ</h1>
        <nav class="nav">
            <ul class="menu-group">
                <li class="menu-item"><%= link_to "トップページ", "/" %></li>
                <li class="menu-item"><%= link_to "カレンダー", "/" %></li>
                <li class="menu-item"><%= link_to "sign in/sign up", "/" %></li>
            </ul>
        </nav>
    </header>
    <p>ランキング表示</p>
</body>
</thml>
