<%= flash[:notice] %>
<% @users.each do |b| %>
    <% if session[:login_uid] == b.name %>
        <% if session[:login_uid] == admin %>
            <h1><%= b.name %>(管理者)ログイン中</h1>
        <% else %>
            <h1><%= b.name %>様ログイン中</h1>
        <% end %>
    <% end %>
<% end %>
<p>ランキング表示</p>
<% i = 1 %>
<table border = "1">
    <tr>
        <th>順位</th>
        <th>ユーザー名</th>
        <th>総資産</th>
        <th>借金</th>
        <th>来店回数</th>
        <th>最終来店日</th>
    </tr>
<% @users.each do |a| %>
        <tr>
            <th><%= i %></th>
            <th><%= link_to a.name,"users/index/#{a.id}" %></th>
            <th><%= a.money %></th>
            <th><%= a.debt %></th>
            <th><%= a.visits %></th>
            <th><%= a.final_date %></th>
        </tr>
        <% i += 1 %>
<% end %>
</table>