<h1><%= @user.name %> のページ</h1>
<table border = "1">
    <tr><th>名前</th><td><%= @user.name %></td></tr>
    <tr><th>総資産</th><td><%= @user.money %></td></tr>
    <tr><th>借金</th><td><%= @user.debt %></td></tr>
    <tr><th>来店回数</th><td><%= @user.visits %></td></tr>
    <tr><th>最終更新日</th><td><%= @user.final_date %></td></tr>
</table>
<br>
<% if (session[:login_uid] == @user.name) or (session[:login_uid] == "takaaki") %>
    <th><%= link_to "引出","/users/withdraw/#{@user.id}" %></th>
    <th><%= link_to "預入","/users/deposit/#{@user.id}" %></th>
    <th><%= link_to "借金","/users/debt/#{@user.id}" %></th>
    <br>
    <br>
    <th><%= link_to "アカウント削除","/users/confirm/#{@user.id}" %></th>
<% end %>

