<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <title>Casino</title>
    <link rel="stylesheet" href="style.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="title">カジノ</h1>
      <nav class="nav">
          <ul class="menu-group">
              <% if session[:login_uid] == admin %>
                    <li class="menu-item"><%= link_to "受信BOX", "/receptions/index" %></li>
              <% end %>
              <li class="menu-item"><%= link_to "トップページ", "/" %></li>
              <% if session[:login_uid] %>
                <% if session[:login_uid] == admin %>
                <li class="menu-item"><%= link_to header_user.name+"(管理者)のアカウント情報","/users/index/#{header_user.id}" %></li>
                <li class="menu-item"><%= link_to "ログアウト",top_logout_path %></li>
                <% else %>
                <li class="menu-item"><%= link_to header_user.name+"様のアカウント情報","/users/index/#{header_user.id}" %></li>
                <li class="menu-item"><%= link_to "カレンダー", "/" %></li>
                <li class="menu-item"><%= link_to "ログアウト",top_logout_path %></li>
                <% end %>
              <% else %> 
                <li class="menu-item"><%= link_to "sign in/sign up", "/top/login_page" %></li>
              <% end %>
          </ul>
      </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <%= yield %>
  </body>
</html>